:root {
  --grid-columns: 1;
  --grid-rows: 1;
}

* {
  margin: 0;
  background: rgb(50, 92, 83);
}

/* top div*/
.top-info {
  display: flex;
  justify-content: center;
}

.btn {
  background: rgb(50, 110, 97);
  color: white;
  margin-top: 2em;
  font-size: 20px;
  border-radius: 20px;
}

.btn:hover {
  background: rgb(28, 71, 62);
}


/* Grid container and cells */
.squares {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(121, 121, 121);
}

.container-parent {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  justify-content: center;
  margin-top: 4em;
  width: 550px;
  height: 550px;
  border: 2px black solid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}